.grid {
  display: grid;
  max-width: 80%;
  gap: 3px;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.cell:hover {
  background-color: gray;
  cursor: pointer;
}

.cell:active {
  background-color: black;
}

.alive {
  background-color: #45a049;
}
